<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.han.VisitorMapper">
	<select id="matchpass" resultType="com.scarabERP.ERP.han.visitor.VisitorVO">
		select visitor_id, visitor_email from web_visitor
		where visitor_id=#{visitor_id} and visitor_email=#{visitor_email}
	</select>
	<update id="updatepass">
		update web_visitor set visitor_pass=#{visitor_pass} where visitor_id=#{visitor_id}
	</update>
	
	<select id="searchid" resultType="com.scarabERP.ERP.han.visitor.VisitorVO">
		select visitor_id from web_visitor where visitor_email=#{visitor_email}
	</select>
	
	<update id="delete">
		update web_visitor set visitor_state=0 where visitor_id=#{visitor_id}
	</update>
	
	<update id="updatePhoto">
		update web_visitor set visitor_photo=#{visitor_photo} where visitor_id=#{visitor_id}
	</update>
	
	<update id="update">
		update web_visitor
		set visitor_pass=#{visitor_pass}, visitor_name=#{visitor_name}, visitor_email=#{visitor_email}, visitor_birthday=#{visitor_birthday},
			visitor_phone=#{visitor_phone}, visitor_address1=#{visitor_address1}, visitor_address2=#{visitor_address2}, visitor_photo=#{visitor_photo}
		where visitor_id=#{visitor_id}
	</update>
	
	<select id="mypage" resultType="com.scarabERP.ERP.han.visitor.VisitorVO">
		select * from web_visitor where visitor_id=#{visitor_id}
	</select>
	
	<insert id="insert">
		insert into web_visitor(visitor_id, visitor_pass, visitor_name, visitor_birthday, visitor_phone, visitor_photo, visitor_email, visitor_address1, visitor_address2)
		values(#{visitor_id},#{visitor_pass},#{visitor_name},#{visitor_birthday},#{visitor_phone},#{visitor_photo},#{visitor_email},#{visitor_address1},#{visitor_address2})
	</insert>
	
	<select id="login" resultType="com.scarabERP.ERP.han.visitor.VisitorVO">
		select * from web_visitor where visitor_id=#{visitor_id}
	</select>
	
	<select id="check" resultType="com.scarabERP.ERP.han.visitor.VisitorVO">
		select count(1) as visitor_id from web_visitor where visitor_id=#{visitor_id}
	</select>
</mapper>