<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.VisitorMapper">
	<insert id="insert">
		insert into visitor(vid,vpass,vname,vbirthday)
		values(#{vid},#{vpass},#{vname},#{vbirthday})
	</insert>
	
	<select id="read" resultType="com.scarabERP.ERP.han.visitor.VisitorVO">
		select * from visitor where vid=#{vid}
	</select>
</mapper>