<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scarabERP.ERP.jay.BBSMapper">
	
	<insert id="insertBBS" >
		insert into web_bbs(bbs_id, bbs_title, bbs_writer, bbs_content, bbs_regDate, bbs_category)
		values(#{bbs_id},#{bbs_title}, #{bbs_writer}, #{bbs_content}, #{bbs_regDate}, #{bbs_category})
	</insert>
		
	<select id="list" resultType="com.scarabERP.ERP.jay.BBS.BBSVO">
		select * from web_bbs
		order by bbs_id desc
	</select>
	 	<select id="BBSread" resultType="com.scarabERP.ERP.jay.BBS.BBSVO">
	 		select * from web_bbs
	 		where bbs_id=#{bbs_id}
	 	</select>
	 
	 <select id="now" resultType="string">
	 	select now();
	 </select>
	
	
	<select id="plist" resultType="com.scarabERP.ERP.jay.BBS.BBSVO">
		select * from web_bbs
		order by bbs_id desc
		limit #{start}, #{size}
	</select>	
	 <update id="BBSupdate">
		update web_bbs
		set bbs_title=#{bbs_title}, bbs_content=#{bbs_content}
		where bbs_id=#{bbs_id}
	 </update>
	 <delete id="deleteBBS">
	 	delete from web_bbs
	 	where bbs_id=#{bbs_id}
	 </delete>
	 <select id="total" resultType="int">
	 	select count(*) from BBS2
	 </select>
</mapper>