<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scarabERP.ERP.mapper.jun.SalaryMapper">
	<select id="list" resultType="com.scarabERP.ERP.jun.salary.SalaryVO">
		SELECT * FROM erp_member_salary 
		WHERE member_info_key = #{member_info_key}
	</select>
	
	<insert id="insert">
		INSERT INTO erp_member_salary(member_info_key, member_salary_money) 
		VALUES(#{member_info_key}, #{member_salary_money})
	</insert>
	
	<select id="memberList" resultType="com.scarabERP.ERP.jun.member.MemberVO">
	    SELECT DISTINCT m.*, d.dept_name, s.member_salary_date
	    FROM erp_member_info m
	    LEFT JOIN erp_dept d ON m.dept_key = d.dept_key
	    LEFT JOIN erp_member_salary s ON m.member_info_key = s.member_info_key
	    <where>
	        <if test="query.key == 'member_info_key'">
	            m.member_info_key like #{query.word}
	        </if>
	        <if test="query.key == 'member_info_name'">
	            member_info_name like #{query.word}
	        </if>
	        <if test="query.key == 'dept_key'">
	            m.dept_key like #{query.word}
	        </if>
	        <if test="query.key == 'member_info_hiredate'">
	            member_info_hiredate = #{vo.member_info_hiredate}
	        </if>
	        AND member_info_job != '퇴사' 
	        <if test="vo.member_salary_date != null">
	        	AND DATE_FORMAT(s.member_salary_date, '%Y-%m') != DATE_FORMAT(NOW(), '%Y-%m'))
	        </if>
	    </where>
	    ORDER BY member_info_hiredate DESC
	    LIMIT #{query.start}, #{query.size}
	</select>
	
	<select id="memberTotal" resultType="int">
		SELECT count(*) total 
		FROM erp_member_info m
		LEFT JOIN erp_dept d ON m.dept_key = d.dept_key 
		LEFT JOIN erp_member_salary s ON m.member_info_key = s.member_info_key 
		<where>
			<if test="query.key == 'member_info_key'">
				m.member_info_key like #{query.word}
			</if>
			<if test="query.key == 'member_info_name'">
				member_info_name like #{query.word}
			</if>
			<if test="query.key == 'dept_key'">
				m.dept_key like #{query.word}
			</if>
			<if test="query.key == 'member_info_hiredate'">
				member_info_hiredate = #{vo.member_info_hiredate}
			</if>
			AND member_info_job != '퇴사' 
			AND (s.member_salary_date IS NULL 
             OR DATE_FORMAT(s.member_salary_date, '%Y-%m') != DATE_FORMAT(NOW(), '%Y-%m'))
		</where>
	</select>
	
</mapper>