<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scarabERP.ERP.mapper.jun.TransactionMapper">
	<insert id="insert">
		INSERT INTO erp_account(account_number, transaction_deposit, 
		transaction_withdraw, member_info_key, client_id, vendor_id)
		VALUES(#{account_number}, #{transaction_deposit}, #{transaction_withdraw}, 
		#{member_info_key}, #{client_id}, #{vendor_id})
	</insert>
	
	<select id="list" resultType="com.scarabERP.ERP.jun.transaction.TransactionVO">
		SELECT * FROM erp_transaction 
			WHERE account_number = #{vo.account_number}
			<if test="query.key == 'member_info_key'">
				AND member_info_key like #{query.word}
			</if>
			<if test="query.key == 'client_id'">
				AND client_id like #{query.word}
			</if>
			<if test="query.key == 'vendor_id'">
				AND vendor_id like #{query.word}
			</if>
			<if test="query.key == 'transaction_date'">
				AND transaction_date = #{vo.transaction_date}
			</if> 
		ORDER BY transaction_date desc 
		limit #{query.start}, #{query.size}
	</select>
	
	<select id="total" resultType="int">
		SELECT count(*) total 
		FROM erp_transaction 
		<where>
			<if test="query.key == 'member_info_key'">
				member_info_key like #{query.word}
			</if>
			<if test="query.key == 'client_id'">
				client_id like #{query.word}
			</if>
			<if test="query.key == 'vendor_id'">
				vendor_id like #{query.word}
			</if>
			<if test="query.key == 'transaction_date'">
				transaction_date = #{vo.transaction_date}
			</if> 
			AND account_number = #{vo.account_number}
		</where>
	</select>
	
	<select id="read" resultType="hashmap">
		SELECT t.*, m.member_info_name, c.client_name, v.vendor_name
		FROM erp_transaction t 
		LEFT JOIN erp_member_info m ON t.member_info_key = m.member_info_key 
		LEFT JOIN erp_client c ON t.client_id = c.client_id 
		LEFT JOIN erp_vendor v on t.vendor_id = v.vendor_id 
		WHERE transaction_id = #{transaction_id}
	</select>
</mapper>