<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scarabERP.ERP.mapper.ClientMapper">
	 <select id="list" resultType="com.scarabERP.ERP.starim.client.ClientVO">
	 	select * from erp_client;
	 </select>
	 <insert id="insert">
	 	insert into erp_client( client_name, client_person, client_employee, client_phone, client_address, client_credit_limit, client_fax, client_email)  values( #{client_name}, #{client_person}, #{client_employee}, #{client_phone}, #{client_address}, #{client_credit_limit}, #{client_fax}, #{client_email})
	 </insert>
	<delete id="delete">
		delete from erp_client where client_id = #{client_id}
	</delete>
	<select id="read" resultType="com.scarabERP.ERP.starim.client.ClientVO">
		select * from erp_client where client_id = #{client_id}
	</select>
	<update id="update">
		update erp_client set client_name=#{client_name}, client_person=#{client_person}, client_employee=#{client_employee}, client_phone=#{client_phone}, client_address=#{client_address}, client_credit_limit=#{client_credit_limit}, client_fax=#{client_fax}, client_email=#{client_email} where client_id = #{client_id}
	</update>
</mapper>