<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scarabERP.ERP.mapper.PurchaseMapper">
	 <select id="list" resultType="com.scarabERP.ERP.starim.purchase.PurchaseVO">
	 	select * from erp_purchase;
	 </select>
	 <select id="getPurchaseID" resultType="string" statementType="CALLABLE">
	 	{call getPurchaseId()}
	 </select>
	 <insert id="insert">
	 	insert into erp_purchase (purchase_id, purchase_items_id, purchase_qnt, purchase_employee, purchase_location, purchase_date, purchase_warehouse, purchase_price) values(#{purchase_id}, #{purchase_items_id}, #{purchase_qnt}, #{purchase_employee}, #{purchase_location}, #{purchase_date}, #{purchase_warehouse}, #{purchase_price} )
	 </insert>
	 <delete id="delete">
	 	delete from erp_purchase where purchase_id = #{purchase_id}
	 </delete>
	 <update id="update">
		update erp_purchase set purchase_date=#{purchase_date}, purchase_warehouse=#{purchase_warehouse}, purchase_price=#{purchase_price}, purchase_qnt=#{purchase_qnt}, purchase_employee=#{purchase_employee}, purchase_location=#{purchase_location} where purchase_id = #{purchase_id}
	</update>
</mapper>