<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scarabERP.ERP.mapper.SalesMapper">
	 <select id="list" resultType="com.scarabERP.ERP.starim.sales.SalesVO">
	 	select * from erp_sales;
	 </select>
	 <select id="getSaleID" resultType="string" statementType="CALLABLE">
	 	{call getSaleId()}
	 </select>
	 <insert id="insert">
	 	insert into erp_sales (sales_id, sales_employee, sales_location, sales_date) values(#{sales_id}, #{sales_employee}, #{sales_location}, #{sales_date} )
	 </insert>
	 <delete id="delete">
	 	delete from erp_sales where sales_id = #{sales_id}
	 </delete>
	 <update id="update">
		update erp_sales set sales_date=#{sales_date}, sales_employee=#{sales_employee}, sales_location=#{sales_location} where sales_id = #{sales_id}
	</update>
</mapper>