<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scarabERP.ERP.mapper.WareHouseMapper">
	 <insert id="insert">
	 	insert into erp_warehouse(warehouse_name, warehouse_address)  values(#{warehouse_name}, #{warehouse_address})
	 </insert>
	<select id="list" resultType="com.scarabERP.ERP.starim.warehouse.WareHouseVO">
	 	select * from erp_warehouse;
	</select>
	<delete id="delete">
		delete from erp_warehouse where warehouse_id = #{warehouseId}
	</delete>
	<select id="read" resultType="com.scarabERP.ERP.starim.warehouse.WareHouseVO">
		select * from erp_warehouse where warehouse_id = #{warhouseId}
	</select>
	<update id="update">
		update erp_warehouse set warehouse_name=#{warehouse_name}, warehouse_address=#{warehouse_address} where warehouse_id =#{warehouse_id}
	</update>
</mapper>