<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.bj.SendMessageMapper">
		
		<select id="list" resultType="com.scarabERP.ERP.bj.message.MessageVO">
			select * from erp_send_message 
			where message_sender = #{message_sender};
		</select>
		
	 <insert id="insert">
	 	insert into erp_send_message(message_sender, message_receiver, message_content)
	 	values(#{message_sender}, #{message_receiver}, #{message_content});
	 </insert>
	 
	 
	
	<update id="updateSendState">
		update erp_send_message
		set message_state=1
		where message_id=#{message_id};
	</update>
    
    
  	<delete id="delete" >
		 delete from erp_send_message 
		 where message_state=1 and message_id=#{message_id};
	</delete>
    
</mapper>